.cart-page{
    margin: 80px auto;
    /* display: flex; */
    /* justify-content: center; */
    width: 80vw;
}
.cart-page button{
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 9px;
    border-color: goldenrod;
    width: 90px;
    height: 40px;
    float: right;
}
.cart-page button:active{
    background-color: gold;
    color: white;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;

}
th{
    height: 25px;
    text-align: left;
    padding: 5px;
    color: white;
    background-color: goldenrod;
    font-weight: normal;
}
td{
    padding: 10px 5px;
    
}
td input{
    width: 40px;
    height: 30px;
    padding:  5px;

}
td a{
    color: goldenrod;
    font-size: 15px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;

}
.total-price table{
    border-top: 3px solid yellow;
    width: 100%;
    max-width: 400px;

}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.cart-info p {
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    color: gold;
}
.cart-info small{
    font-size: 1.3rem;
}
@media (max-width:700px) {

    
    .cart-page{
        width: 90vw;
    }
    .row{
        text-align: center;
    }
    .col-2, .col-3,col-4{
        flex-basis: 100%;
    }
    .single-prduct .row{
        text-align: left;
    }
    .single-prduct .col-2{
        padding: 20px 0;
    }
    .single-prduct h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
    .cart-page button{
        width: 100%;
        /* margin: auto; */
    }
}
