* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    color: white;
}
header nav{
    height: 20rem;
}
button,
input[type="submit"] {
    border: .1rem solid white;
    outline: none;
    padding: .6rem 1.2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.registration-header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pexels-andrea-piacquadio-927451.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration,
.login {
    min-height: 30vh;
    min-width: 40vw;
    background-color: aquamarine;
}

.grid-two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 765px) {


    .grid-two-column {
        display: inline-table;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        min-width: 80vw;
        min-height: 30vh;
    }
}

.form-text {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pexels-andrea-piacquadio-927451.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
}

.form-text p {
    width: 30ch;
    text-align: center;
    margin: 2rem 0 3rem 0;
}

.form-text h2 {
    color: white;
}

.form-text button {
    background-color: blue;
    color: black;
}

.registration-form,
.login-form {
    width: 100%;
    min-height: 45vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.registration-form p,
.login-form p {
    margin: 1rem 0 .7rem 0;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
    margin: 1rem 0 .6rem 0;
}

.icons {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

input {
    width: 20rem;
    margin: .7rem 0;
    border: 2px solid blue;
    background-color: white;
    padding: 1rem 1.8rem;
    letter-spacing: .2rem;
    color: black;
}

input[type="Submit"] {
    margin-top: 1rem;
    min-width: 10rem;
    background-color: blue;
    color: white;


}

section i {
    color: blue;
}

.registration:not(.login-section-display) {
    display: none;
}

.login-section-display .registration {
    display: block;
}

.login-section-display .login {
    display: none;
}