/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Styling the header */
aside {
  margin-top: 35px;
  height: 100%;
  background-color:white;
  color: black;
  padding: 20px;
  text-align: center;
  letter-spacing: 7px;
}


/* Styling the product listing section */
#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Styling each product item */
.product-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.product-item img {
  width: 100%;
  height: 250px;
  /* height: auto; */
}

.product-item h1 {
  margin-top: 10px;
  font-size: 30px;
}
.product-item h2 {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}

.product-item p {
  margin-top: 5px;
  font-size: 2.5rem;
  color: goldenrod;
}

.product-item button {
  display: block;
  margin-top: 10px;
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #555;
}

/* Responsive Styles */

/* For screens smaller than 600px */
/* @media (max-width: 600px) {
  header {
    padding: 10px;
  }

  #product-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
  }

  .product-item {
    padding: 5px;
  }

  .product-item h2 {
    font-size: 18px;
  }

  .product-item p {
    font-size: 12px;
  }

  .product-item button {
    padding: 6px 10px;
  }
} */

/* For screens between 600px and 900px */
/* @media (min-width: 601px) and (max-width: 900px) {
  #product-list {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

/* For screens larger than 900px */
/* @media (min-width: 901px) {
  #product-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}  */
