body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  i{
    font-size: 5rem;
    color: blue;
  }
  .thank-you-container {
    max-width: 800px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    color: #007bff;
  }
  
  .continue-shopping-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.2s ease;
  }
  
  .continue-shopping-btn:hover {
    background-color: #0056b3;
  }
  
  